/***    NAVBAR    ***/
.center-navbar .navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.center-navbar .navbar-brand {
  text-align: center;
  font-weight: bold;
  font-size: 55px;
}

.nav-link {
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 0;
}

.logo {
  width: 24px;
  height: auto;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .logo {
    width: 50px;
  }
}

.lineTopBar {
  margin: 0;
  border: 2px solid black;
  opacity: 1;
}
