/* CSS in comune */

/*   STILE NOME SITO   */
.bastoneStudio {
  font-family: "Corinthia", cursive;
  font-weight: 700;
  font-style: normal;
}

/* BOTTINE INFO */
.button-info {
  background-color: white;
  border-bottom: solid black 2px;
  padding: 5px;
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.3s, color 0.3s;
}

.button-info:hover {
  background-color: black;
  color: white;
}

/* TRIO CARD FONDO PAGINA */

.card-image {
  width: 100%;
  object-fit: cover;
}

.custom-card {
  width: 18rem;
  height: 400px;
}

.card-content {
  display: flex;
  height: 100%;
}

/* ********************************** */
.titolo-sopra-sfondo {
  position: absolute;
  top: 50%; /* verticale */
  left: 50%; /* orizzontale */
  transform: translate(-50%, -50%); /*  ORIZZ ; VERT  */
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.sfondoAlbum {
  height: 450px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .sfondoAlbum {
    height: 250px;
    object-fit: cover;
  }
}
